<div class="jumbotron jumbotron-fluid">
  <div class="container">
<div class="row">
  <div class="col-md-2">
    <img id="left" src=".\styles\img\skull.jpg" alt="carpe-diem">
  </div>
  <div id="logo" class="col-md-8">
    <div class="TBYD-container">  
  <div class="TBYD">
    <span class="try">Try</span><span class="before">Before</span><span class="you">YOU</span>
  </div>
  <div class="die">DIE!!!</div>
</div>
  </div>
  <div class="col-md-2">
    <img id="right" src=".\styles\img\skull.jpg" alt="dare">
  </div>
</div>

</div>
</div>

<div class="container">
  <div class="row row-cols-6">
    <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <div class="row">
              <p class="card-text">
                 <div class="col s6 text-center">
              <h3>Create a new bucket list item</h3>
              </p>
            <form class="todo-form" action="api/todos" method="POST">
          <div>
            <label for="title"></label>
            <input type="text" id="title" name="title" placeholder="Enter a todo">
            <label for="category"></label>
            <input type="text" id="category" name="category" placeholder="Select a category">
          </div>
          <br>
          <button type="submit" id="todo" class="todo">Create</button>
              </form>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col">
        <div class="card text-center">
          <div class="card-body">
            <div class="row">
              <p class="card-text">
                 <div class="col s6 text-center">
              <h3>Plan before it's to late!!!!</h3>
              </p>
               <a href="/views/travel.handlebars" ><button type="submit" id="get-travel" class="api">Travel</button></a>
            
            
                <button type="submit" id="dating" class="api">Dating</button>
                 
          <div>
          </div>
              </div>
            </div>
          </div>
        </div></div>
    
  </div>
</div>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Title </th>
      <th scope="col">Category</th>
      <th scope="col">Created</th>
      <th scope="col">ETC</th>
      <th scope="col">Updated</th>
      <th scope="col">Completed</th>
    </tr>
  </thead>
  <tbody>
    {{#each Todos}}
    <tr>
      <td></td>
      <td>{{category}}</td>
      <td>{{createdAt}}</td>
      <td>{{ETC}}</td>
      <td>{{updatedAt}}</td>
      <td>{{completed}}</td>
    </tr>
    {{/each}}
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td> 
    </tr>
  </tbody>
</table>
     
</div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
<script src="/js/apiButtons.js"></script>