{{title}}
    <button class="updateTodo" data-id="{{id}}" data-newTodo="{{updated}}">
        {{#if updated}}Updated{{else}}Return{{/if}}
    </button>
    <button id="deleteTodo" class="delete-Todo" data-id="{{this.id}}">Delete</button>